.wrap {
    width: 1226px;
    margin: 0 auto;
    position: relative;
  }
  .clearfix {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .foot-service {
    width: 1226px;
    height: 80px;
    border-bottom: 1px solid #e0e0e0;
  }
  .foot-service li {
    float: left;
    font-size: 16px;
    color: #616161;
    text-align: center;
    line-height: 88px;
    cursor: pointer;
  }
  .foot-service li span {
    margin: 10px 40px;
  }
  .foot-service li .iconfont {
    color: #616161;
    font-size: 24px;
    margin-right: 10px;
  }
  .foot-table {
    padding: 40px 0;
    height: 150px;
  }
  
  .table-link {
    float: left;
    width: 160px;
    margin: 0;
  }
  .table-link dt {
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
  }
  .table-link dd {
    margin: 10px 0 0;
    font-size: 12px;
  }
  .table-link dd a {
    color: #757575;
  }
  .foot-tableb {
    float: right;
    width: 251px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
  }
  .foot-tableb .foot-phone {
    color: #ff6700;
    font-size: 22px;
    line-height: 1;
    margin-bottom: 5px;
  }
  .foot-tableb .foot-text {
    color: #616161;
    margin-bottom: 5px;
    font-size: 12px;
  }
  .foot-tableb .btn-small {
    border-color: #ff6700;
    background: #fff;
    color: #ff6700;
    border: 1px solid #ff6700;
    cursor: pointer;
  }
  .foot-tableb .btn-small:hover {
    background: #ff6700;
    color: #fff;
  }
  .foot-tableb .foot-ai {
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    display: inline-block;
  }
  .btn-small .icon-duihuakuang:hover {
    color: #fff;
  }
  .foot-tableb .foot-text1 {
    font-size: 12px;
    margin-top: 10px;
  }
  .foot-tableb a {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    margin-top: -3px;
    font-size: 22px;
  }
  .foot-text1 .icon-weixin {
    margin-top: 1px;
  }
  .footer-css {
    background: #f5f5f5;
    display: grid;
  }
  .footer {
    padding: 30px 0;
    width: 1226px;
    font-size: 12px;
    position: relative;
    margin: 0 auto;
  }
  .footer .logo {
    position: absolute;
    width:57px;
    height:57px;
    margin-left:10px;
    top: 0;
    left:0;
  }
  .footer .container {
    position: relative;
  }
  .footer .info-text{
      color: #b0b0b0;
      padding-left: 67px;
      float: left;
  }
  .footer  .info-text ul {
    margin: 0;
    line-height: 18px;
    float: left;
  }
  .footer ul li {
    float: left;
    font-size: 12px;
    color: #757575;
  }
  .footer p {
    color: #b0b0b0;
    padding-left: 12px;
  }
  .footer .info-link{
      height: 28px;
      margin: 4px 0 15px;
      padding-left: 80px;
  }
  .footer .container .footer-img {
     width:auto;
     height:28px;
     margin-left: 0;
     float: left;
  }
  .info-img{
      margin: 30px 35% 0;
      height:19px;
      float: left;
      padding: 30px;
  }
  .info-text li a:hover{
    color: #ff6700;
  }
  .foot-service ul li:hover{
    color: #ff6700;
  }
  .foot-service ul li:hover i{
    color: #ff6700;
  }
  .foot-tablet dl dd a:hover{
    color: #ff6700;
  }